
.ending-screen {

	// logo
	.dbs-logo {
		max-width: 700px;
		 //vaali-new
		 @media screen and (max-width: 767px){
		 	max-width: 350px
		 }
		 //vaali-new
	}

	// buttons
	.cta-buttons {
		margin-top: 100px;
		.home-btn {
			margin-right: 150px;
		}
	}
}
