.ending-screen .dbs-logo {
  max-width: 700px; }
  @media screen and (max-width: 767px) {
    .ending-screen .dbs-logo {
      max-width: 350px; } }

.ending-screen .cta-buttons {
  margin-top: 100px; }
  .ending-screen .cta-buttons .home-btn {
    margin-right: 150px; }
