
// product intro
.prod-intro {
    h2 {
        margin: 0;
    }
    h3 {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 35px;
    }
    @media screen and (max-width: 767px){
        text-align: center;
    }  
}
