
@import '../../styles/modules/_vars';

.details-red {

    .main-head {
        margin: 25px 0;
        @media screen and (max-width: 767px){
            margin: 0;
        }
    }

    .animation-wrapper {
        height: 450px;
        overflow: hidden;
        @media screen and (max-width: 767px){
            height: 300px;
        }
       
        .animate-container {
            &:first-child {
                margin-top: 250px;
            }

        }
    }
}
