
// logo container
.logo-container {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
        width: 310px;
        padding-right: 30px;
        padding-bottom: 0px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 10px;
        line-height: 1em;
    }
}

// full height container
.container {
	&.full-height {
		height: 100%;
		width: 100%;
		position: absolute;
	}
}
